:root.dark {
    /* === 基础排版 === */
    --md-font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial,
        "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
        sans-serif;
    --md-font-size: 14px;
    --md-line-height: 1.6;
    --md-color: var(--text-color);
    /* 继承自全局 */

    /* === 标题 (Heading) === */
    --md-h1-size: 2em;
    --md-h1-weight: 700;
    --md-h1-color: #fff06e;
    --md-h1-margin: 0.3em 0 0.3em;
    /* 上下间距 */

    --md-h2-size: 1.4em;
    --md-h2-weight: 600;
    --md-h2-color: #79D172;
    --md-h2-margin: 0.3em 0 0.2em;

    --md-h3-size: 1.2em;
    --md-h3-weight: 600;
    --md-h3-color: #4eafff;
    --md-h3-margin: 0.3em 0 0.2em;

    /* === 修饰 (Emphasis) === */
    --md-bold-weight: 700;
    --md-bold-color: hsl(332, 100%, 74%);
    --md-italic-style: italic;

    /* === 引用 (Quote) === */
    --md-quote-color: #66a5a5;
    --md-quote-border: 3px solid #e0e0e0;
    --md-quote-bg: transparent;

    /* === 代码 (Code) === */
    --md-code-font: 'JetBrains Mono', 'Fira Code', monospace;
    --md-code-bg: rgba(255, 255, 255, 0.1);
    --md-code-color: inherit;
    --md-code-radius: 4px;

    /* === 链接 (Link) === */
    --md-link-color: #1890ff;
    --md-link-decoration: underline;

    /* 选区颜色 */
    --md-selection-bg: rgba(165, 49, 49, 0.6);
}



.CodeMirror * {
    font-family: var(--md-font-family)
}