/* src/styles/node-themes.css */

/* 1. 默认 */

/* 2. 红 */
.theme-red {
    /* --node-bg: #ffcccc; */
    --border-color: #e94141;
    --node-bg: #311c1c;
}

/* 3. 黄 */
.theme-yellow {
    --border-color: #f5d65a;
    --node-bg: #332a1e;
}

/* 4. 绿 */
.theme-green {
    --border-color: #85c25c;
    --node-bg: #1f2c19;
}

/* 5. 蓝 */
.theme-blue {
    --border-color: #3ab4b4;
    --node-bg: #0f2733;
}

/* 6. 紫 */
.theme-purple {
    --border-color: #ac56e6;
    --node-bg: #2a1f38;
}

.theme-pink {
    --border-color: #e656aa;
    --node-bg: #331d2a;
}

.theme-grey {
    --border-color: #858585;
    --node-bg: #2e2e2e;
}

/* 确保这些类能覆盖全局样式 */
/* 如果 UniversalNode.vue 里没有用 scoped 锁定变量定义，这里通常直接生效 */